html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $primary-font-family;
  color: $primary-black-color;
  font-size: $primary-font-size;
  line-height: $primary-font-height;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
}