@font-face {
  font-family: 'DMSans', sans-serif;
  src: url('DMSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans', sans-serif;
  src: url('DMSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'DMSans', sans-serif;
  src: url('DMSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans', sans-serif;
  src: url('DMSans-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'DMSans', sans-serif;
  src: url('DMSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans', sans-serif;
  src: url('DMSans-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'TitanOne', cursive;
  src: url('TitanOne-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
