html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.sprite {
  display: none;
}

.container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}
