@font-face {
  font-family: 'DMSans';
  src: url('./fonts/DMSans-Regular.woff') format('woff'),
    url('./fonts/DMSans-Regular.woff2') format('woff2'),
    url('./fonts/DMSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('./fonts/DMSans-Italic.woff') format('woff'),
    url('./fonts/DMSans-Italic.woff2') format('woff2'),
    url('./fonts/DMSans-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'DMSans';
  src: url('./fonts/DMSans-Medium.ttf') format('ttf'),
    url('./fonts/DMSans-Medium.woff') format('woff'),
    url('./fonts/DMSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('./fonts/DMSans-MediumItalic.ttf') format('ttf'),
    url('./fonts/DMSans-MediumItalic.woff') format('woff'),
    url('./fonts/DMSans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'DMSans';
  src: url('./fonts/DMSans-Bold.ttf') format('ttf'),
    url('./fonts/DMSans-Bold.woff') format('woff'),
    url('./fonts/DMSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('./fonts/DMSans-BoldItalic.ttf') format('ttf'),
    url('./fonts/DMSans-BoldItalic.woff') format('woff'),
    url('./fonts/DMSans-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'TitanOne';
  src: url('./fonts/TitanOne-Regular.woff') format('woff'),
    url('./fonts/TitanOne-Regular.woff2') format('woff2'),
    url('./fonts/TitanOne-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
