%list {
  list-style: none;
}

%link {
  text-decoration: none;
  display: block;
  height: 100%;
}

%title {
  font-family: $secondary-font-family;
  text-transform: uppercase;
  text-align: center;
  color: $primary-hover-color;
  font-size: 36px;
  line-height: 52px;
}

%subtitle {
  display: block;
  font-size: 18px;
  line-height: 38px;
  color: $primary-pink-color;
}

%reviews-pseudo-element {
  content: '';
  display: block;
  width: 85px;
  height: 85px;
  position: absolute;
  transform: translateX(50%);
  right: 50%;
  top: -115px;
  border-radius: 50%;
}
