$primary-font-family: DMSans, sans-serif;
$secondary-font-family: TitanOne, cursive;

$primary-font-size: 17px;
$primary-font-height: 28px;

$primary-white-color: #ffffff;
$primary-black-color: #000000;
$primary-grey-color: #907e82;
$primary-pink-color: #ffa5ba;

$primary-hover-color: #d41442;
$primary-hover-transition: 200ms linear;

$products-pink-color: #ffb8c9;
$products-maize-color: #efd1a5;
$products-green-color: #c1e297;

$color-smoky-white: #ecebeb;
$color-light-crimson: #c7133e;
$color-lavender-pink: #fff5f7;
$color-gray-white: #fafafa;