// Collage

.collage {
  padding-top: 148px;
  position: relative;
  @media screen and (min-width: 768px) {
    padding-top: 280px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 380px;
  }

  &__img {
    width: 80%;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (min-width: 768px) {
      top: -103px;
    }
    @media screen and (min-width: 1280px) {
      top: -174px;
    }
  }
}

// Reviews blog

.reviews {
  text-align: center;
  padding-top: 115px;

  &__blog {
    width: 78.125%;
    margin: 0 auto 20px;
    background-color: $color-gray-white;
    position: relative;

    &-box {
      width: 56%;
      margin: 0 auto;
      padding: 52px 0 33px;
      @media screen and (min-width: 768px) {
        width: 82.78%;
      }
      @media screen and (min-width: 1280px) {
        width: 88.56%;
      }

      &-text {
        font: 500 13px $primary-font-family;
        color: $primary-black-color;
        line-height: 31px;
        border-bottom: 1px solid $color-grey;
        padding: 10px 0;
        position: relative;
        @media screen and (min-width: 768px) {
          font-size: 15px;
        }

        &::before {
          content: '';
          display: block;
          width: 54px;
          height: 41px;
          background: url(../images/reviews/blockquote.png) no-repeat center;
          position: absolute;
          left: -55px;
        }
      }
    }
  }

  &__card-one::before {
    @extend %reviews-pseudo-element;
    background: url(../images/reviews/testimonials1.jpg);
  }

  &__card-two::before {
    @extend %reviews-pseudo-element;
    background: url(../images/reviews/testimonials2.jpg);
  }

  &__card-three::before {
    @extend %reviews-pseudo-element;
    background: url(../images/reviews/testimonials3.jpg);
  }
}

// Reviews title

.reviews__title {
  margin: 0 auto 34px;

  &-text {
    font: 400 0.76em $primary-font-family;
    color: $primary-black-color;
    text-transform: capitalize;
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      font-size: 1em;
    }

    &::before {
      content: '';
      display: block;
      width: 25px;
      border-top: 5px dotted $primary-hover-color;
      margin: 0 auto 25px;
    }
  }
}

// Button

.reviews__btn {
  padding-bottom: 90px;
  @media screen and (min-width: 768px) {
    padding-bottom: 120px;
  }

  &-item {
    border-style: none;
    width: 16px;
    height: 16px;
    background-color: $color-grey;
    border-radius: 50%;
    transition: $primary-hover-transition;

    &:not(:last-child) {
      margin-right: 18px;
    }

    &:hover,
    &:focus {
      border: none;
      border-radius: 0%;
      background: url(../images/reviews/home.png) no-repeat center;
      outline: none;
      transition: $primary-hover-transition;
    }
  }
}
