.products-wrapper {
  @media (min-width: 1280px) {
    background: url(../images/section-products/sectionbg3.jpg) no-repeat top
      left/cover;
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      background-image: url(../images/section-products/sectionbg3@2x.jpg) no-repeat top left/cover;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 3) {
      background-image: url(../images/section-products/sectionbg3@2x.jpg) no-repeat top left/cover;
    }
  }
}

.products {
  width: 320px;
  padding-top: 124px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 688px;
  }

  @media (min-width: 1280px) {
    width: 1046px;
  }
}

.products-menu {
  width: 246px;
  margin: 0 auto 127px;

  &:last-of-type {
    @media screen and (max-width: 767px) {
      margin-bottom: 97px;
    }
  }

  @media (min-width: 768px) {
    width: 218px;
    margin: 0 0 118px;
  }

  @media (min-width: 1280px) {
    width: 330px;
  }
}

.products__first-title {
  font-size: 18px;
  color: $primary-pink-color;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 130px;
  font-family: $secondary-font-family;
  font-weight: 400;

  @media (min-width: 768px) and (max-width: 1279px) {
    font-size: 26px;
  }

  @media (min-width: 1280px) {
    font-size: 30px;
  }
}

.products__second-title {
  font-size: 36px;
  color: $primary-hover-color;
  margin-bottom: 66px;

  @media (min-width: 768px) and (max-width: 1279px) {
    font-size: 51px;
  }

  @media (min-width: 1280px) {
    font-size: 60px;
  }
}

.products-menu__wrapper {
  border-radius: 25px;
  position: relative;
}

.products-menu__ice-cream {
  background-color: $products-pink-color;
}

.products-menu__coffee {
  background-color: $products-maize-color;
}

.products-menu__milkshake {
  background-color: $products-green-color;
}

.products-menu__image {
  position: absolute;
}

.image-cream {
  transform: translateY(-80px);

  @media (min-width: 1280px) {
    transform: translate(47px, -104px);
  }
}

.image-coffee {
  transform: translate(40px, -104px);

  @media (min-width: 768px) and (max-width: 1279px) {
    transform: translate(25px, -100px);
  }

  @media (min-width: 1280px) {
    transform: translate(85px, -118px);
  }
}

.image-milkshake {
  transform: translate(42px, -110px);

  @media (min-width: 768px) and (max-width: 1279px) {
    transform: translate(27px, -111px);
  }

  @media (min-width: 1280px) {
    transform: translate(86px, -129px);
  }
}

.products-menu__title {
  text-align: center;
  text-transform: uppercase;
  color: $primary-white-color;
  font-family: $secondary-font-family;
  font-size: 15px;
  padding-top: 160px;

  &::after {
    content: '. . .';
    display: block;
    font-size: 20px;
    margin: 13px auto 30px;

    @media (min-width: 768px) and (max-width: 1279px) {
      font-size: 30px;
    }
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    font-size: 21px;
  }

  @media (min-width: 1280px) {
    font-size: 25px;
  }
}

.products-menu__text {
  text-align: center;
  padding: 0 36px;
  margin-bottom: 30px;
  color: $primary-white-color;
  font-size: 13px;
  font-family: $primary-font-family;
  font-weight: 700;

  @media (min-width: 768px) and (max-width: 1279px) {
    font-size: 14px;
    padding: 0 22px;
  }

  @media (min-width: 1280px) {
    font-size: 16px;
    padding: 0 52px;
  }
}

.wrapper-button {
  text-align: center;
}

.products-menu__button {
  margin-bottom: 52px;
  width: 40px;
  height: 40px;
  background-color: $primary-white-color;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all $primary-hover-transition;

  @media (min-width: 1280px) {
    width: 60px;
    height: 60px;
  }

  & svg {
    width: 12px;
    height: 12px;
    fill: $primary-hover-color;
    transition: all $primary-hover-transition;

    @media (min-width: 1280px) {
      width: 20px;
      height: 20px;
    }
  }

  &:hover {
    background-color: $color-smoky-white;
  }
}

.products-menu__items {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
