.container {
  width: 320px;
  padding: 120px 40px 0;
  margin: 0 auto;
}

.footer {
  background-color: $color-lavender-pink;
}

.footer__title {
  margin: 0 auto;
  font-family: $secondary-font-family;
  text-transform: uppercase;
  text-align: left;
  &--pink {
    font-size: 18px;
    color: $primary-pink-color;
    line-height: 20px;
  }
  &--crimson {
    margin-top: 30px;
    font-size: 36px;
    color: $primary-hover-color;
    line-height: 32px;
  }
}

.footer__social {
  margin: 48px 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 156px;
}

.footer__social a {
  display: block;
}

.footer__icons {
  border-radius: 50%;
  background-color: $primary-pink-color;
  width: 33px;
  height: 33px;
  &:hover {
    background-color: $color-light-crimson;
  }
  &--githab {
    background-image: url(images/icons/githab.svg);
  }
  &--telegram {
    background-image: url(images/icons/telegram.svg);
  }
  &--facebook {
    background-image: url(images/icons/facebook.svg);
  }
}

.footer__text {
  margin-top: 50px;
  font-size: 13px;
  font-family: $primary-font-family;
  color: $primary-black-color;
  line-height: $primary-font-height;
  text-align: center;
  &--color {
    color: $primary-hover-color;
  }
}

.footer-bootom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  &__text {
    font-size: 13px;
    font-family: $primary-font-family;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    color: $primary-grey-color;
    line-height: 19px;
    &--before::before {
      content: '';
      margin: 48px 0 26px;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $primary-black-color;
      opacity: 0.078;
    }
  }
}
