.header {
  min-height: 500px;
  background-color: $products-pink-color;
}

.header-container {
  width: 320px;
  margin: 0 auto;
  padding: 6px 15px 0;
  position: relative;
  z-index: 5;

  // &::before {
  //   content: '';
  //   display: inline-block;
  //   border-radius: 50%;
  //   background-color: $primary-pink-color;
  //   position: absolute;
  //   width: 342px;
  //   height: 342px;
  //   transform: translate(22px, 76px);
  // }
}

.header__site-logo {
  @extend %link;
  padding-bottom: 140px;
}

.header__title {
  @extend %title;
  text-align: left;
  font-size: 44px;
  line-height: 56px;
  margin-bottom: 10px;
}

.header__subtitle {
  @extend %subtitle;
  color: $primary-white-color;
  width: 162px;
  font-size: 26px;
  line-height: 28px;
}

.header__links-list {
  @extend %list;
  display: flex;
}

.header__link {
  @extend %link;
  font-family: $primary-font-family;
  border-radius: 14px;
  background-color: $primary-hover-color;
  width: 75px;
  min-height: 30px;
  color: $primary-white-color;
  line-height: 30px;
  font-size: 9px;
  text-align: center;

  &-how-made {
    background-color: $primary-white-color;
    width: 96px;
    color: $primary-hover-color;
  }
  &-products {
    margin-right: 9px;
  }
}
