.locations {
  background-color: $color-lavender-pink;
}

.box {
  margin: 20px auto;
  padding: 50px 38px;
  border-radius: 25px;
  background-color: $primary-white-color;
  box-shadow: 0px 10px 40px 0px rgba(212, 20, 66, 0.15);
  width: 253px;
}

.box__title,
.box__subtitle,
.box__text,
.box__time {
  font-family: $primary-font-family;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  width: 150px;
}

.box__title {
  color: $primary-white-color;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  padding-bottom: 3px;
  margin-bottom: 36px;
}

.box__title--maize {
  background-color: $products-maize-color;
  width: 62px;
  height: 18px;
}

.box__title--green {
  background-color: $products-green-color;
  width: 107px;
  height: 18px;
}

.box__subtitle {
  color: $primary-black-color;
  line-height: $primary-font-height;
  text-align: left;
}

.box__text {
  color: $primary-grey-color;
  line-height: 19px;
  text-align: left;
}

.box__time {
  color: $primary-pink-color;
  line-height: $primary-font-height;
  text-align: left;
}

.box__text--before::before,
.box__text--after::after {
  content: '';
  display: block;
  background-color: $primary-black-color;
  opacity: 0.078;
  width: 178px;
  height: 1px;
  margin: 35px 0;
}

.box-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.box__button {
  text-align: center;
  margin: 13px auto 0;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 41px;
  width: 158px;
  height: 41px;
  border-radius: 25px;
  border-style: none;
}

.box__button--locations {
  color: $primary-white-color;
  background-color: $primary-hover-color;
}

.box__button--locations:hover {
  background-color: $color-light-crimson;
}

.box__button--franchise {
  color: $primary-hover-color;
  background-color: $primary-white-color;
}

.box__button--franchise:hover {
  background-color: $color-smoky-white;
}
