.locations--background {
  background-image: linear-gradient(
    to bottom,
    $primary-white-color 100px,
    $color-lavender-pink 100px,
    $color-lavender-pink 100%
  );
}

.location-card {
  margin: 20px auto;
  padding: 50px 38px;
  border-radius: 25px;
  background-color: $primary-white-color;
  box-shadow: 0px 10px 40px 0px rgba(212, 20, 66, 0.15);
  width: 253px;
}

.location-card__title,
.location-card__subtitle,
.location-card__text,
.location-card__time {
  font-family: $primary-font-family;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  width: 150px;
}

.location-card__title {
  color: $primary-white-color;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 36px;
  &--maize {
    background-color: $products-maize-color;
    width: 62px;
    height: 18px;
  }
  &--green {
    background: $products-green-color;
    width: 107px;
    height: 18px;
  }
}

.location-card__subtitle {
  color: $primary-black-color;
  line-height: $primary-font-height;
  text-align: left;
}

.location-card__text {
  color: $primary-grey-color;
  line-height: 19px;
  text-align: left;
}

.location-card__time {
  color: $primary-pink-color;
  line-height: $primary-font-height;
  text-align: left;
}

.location-card__text--before::before,
.location-card__text--after::after {
  content: '';
  display: block;
  background-color: $primary-black-color;
  opacity: 0.078;
  width: 178px;
  height: 1px;
  margin: 35px 0;
}

.location-card-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: $color-lavender-pink;
}

.location-card__button {
  text-align: center;
  margin: 13px auto 0;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 41px;
  width: 158px;
  height: 41px;
  border-radius: 25px;
  border-style: none;
  &--locations {
    color: $primary-white-color;
    background-color: $primary-hover-color;
    transition: background-color $primary-hover-transition;
    &::after {
      content: '';
      display: inline-block;
      background-image: url(../images/icons/chevron_right_white.svg);
      width: 18px;
      height: 18px;
      transform: translate(50%, 25%);
    }
    &:hover {
      background-color: $color-light-crimson;
    }
  }
  &--franchise {
    color: $primary-hover-color;
    background-color: $primary-white-color;
    transition: background-color $primary-hover-transition;
    &::after {
      content: '';
      display: inline-block;
      background-image: url(../images/icons/chevron_right_red.svg);
      width: 18px;
      height: 18px;
      transform: translate(50%, 25%);
    }
    &:hover {
      background-color: $color-smoky-white;
    }
  }
}
