@media (min-width: 768px) {
  .container {
    width: 690px;
  }

  .locations {
    display: flex;
    justify-content: space-between;
  }

  .location-card {
    width: 222px;
    margin: 20px 0 0;
    padding: 50px 32px;
  }

  .location-card__text--before::before,
  .location-card__text--after::after {
    width: 100%;
  }

  .location-card-buttons {
    width: 100%;
    margin: 78px auto;
    display: inline-block;
    text-align: center;
  }

  .location-card__button {
    line-height: 50px;
    &--locations {
      width: 199px;
      height: 50px;
      margin-right: 10px;
    }
    &--franchise {
      width: 177px;
      height: 50px;
    }
  }

  .footer--media {
    display: flex;
    justify-content: space-between;
  }

  .footer__title {
    width: 320px;
    &--pink {
      font-size: 26px;
      line-height: 33px;
    }
    &--crimson {
      font-size: 51px;
      line-height: 49px;
    }
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .footer__social {
    margin: 0;
  }

  .footer-bootom {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1056px;
  }

  .locations--background-image {
    background-image: url(../images/sectionbg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    .locations--background-image {
      background-image: url(../images/sectionbg2@2.png);
    }
  }

  @media screen and (-webkit-min-device-pixel-ratio: 3) {
    .locations--background-image {
      background-image: url(../images/sectionbg2@3.png);
    }
  }

  .location-card {
    width: 338px;
    padding: 50px 52px;
  }

  .location-card__title,
  .location-card__subtitle,
  .location-card__text,
  .location-card__time {
    font-size: $primary-font-size;
    width: 100%;
    line-height: 28px;
  }

  .location-card-buttons {
    width: 100%;
    margin: 78px auto;
    display: inline-block;
    text-align: center;
  }

  .location-card__title {
    line-height: 28px;
    &--maize {
      width: 73px;
      height: 28px;
    }
    &--green {
      width: 136px;
      height: 28px;
    }
  }

  .footer__title {
    width: 500px;
    &--pink {
      font-size: 30px;
      line-height: 38px;
    }
    &--crimson {
      font-size: 60px;
      line-height: 52px;
    }
  }

  .footer__text {
    font-size: $primary-font-size;
  }
}
