.products {
  width: 320px;
  padding-top: 124px;
  margin: 0 auto;
}

.products-menu {
  width: 246px;
  margin: 0 auto 127px;
}

.products__first-title {
  font-size: 18px;
  color: $primary-pink-color;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 130px;
  font-family: $secondary-font-family;
  font-weight: 400;
}

.products__second-title {
  font-size: 36px;
  color: $primary-hover-color;
  margin-bottom: 66px;
}

.products-menu__wrapper {
  border-radius: 25px;
  position: relative;
}

.products-menu__ice-cream {
  background-color: $products-pink-color;
}

.products-menu__coffee {
  background-color: $products-maize-color;
}

.products-menu__milkshake {
  background-color: $products-green-color;
}

.products-menu__image {
  position: absolute;
}

.image-cream {
  transform: translateY(-80px);
}

.image-coffee {
  transform: translate(40px, -104px);
}

.image-milkshake {
  transform: translate(42px, -110px);
}

.products-menu__title {
  text-align: center;
  text-transform: uppercase;
  color: $primary-white-color;
  font-family: $secondary-font-family;
  font-size: 15px;
  padding-top: 160px;

  &::after {
    content: '. . .';
    display: block;
    font-size: 20px;
    margin: 13px auto 30px;
  }
}

.products-menu__text {
  text-align: center;
  padding: 0 36px;
  margin-bottom: 30px;
  color: $primary-white-color;
  font-size: 13px;
  font-family: $primary-font-family;
  font-weight: 700;
}

.wrapper-button {
  text-align: center;
}

.products-menu__button {
  margin-bottom: 52px;
  width: 40px;
  height: 40px;
  background-color: $primary-white-color;
  border: 0;
  border-radius: 50%;
  cursor: pointer;

  & svg {
    width: 12px;
    height: 12px;
    fill: $primary-hover-color;
  }
}
